
:root {
    --gap: 24px;

    --text-color: #010101;
    --stable-color: #747474;
    --brand-color: #F41D92;
    --light-color: #f2f2f2;
    --bg-color: #FDFDFD;
    --bg-color-rgb: 253, 253, 253;
    --highlight-color: yellow;
    --content-width: 54rem;
    --line-height: 1.5;
    --line-height-tight: 1.1;
    --negative: #D30101;
    --positive: #51950F;

    --serif-font: Palatino, Garamond, Bookman, "Avant Garde", serif;
    --sans-serif-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
